header {
    height: 10%;
    background-color: #1AA9EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to the header */
  }

.header-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.header-btn{
    border: 0;
    border-radius: 15%;
    padding: 2%;
    text-align: center;
    margin: 2px;
    background-color: red;
    color: white;
}

.header-btn:hover{
    background-color: #741500;
}

.logoHeader {
    height:75%;
    width:auto;
    margin-left:5%;
}

