/* ReportPage.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .answer {
    margin-top: 10px; /* Adjust as needed */
  }
  

  