
.subtitle2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #1aa9ec;
    width: 360px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    
    position: relative;
    z-index: 9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  #head1{
    margin-left: 623px;
    margin-top: 50px;
    
 
  }
    
  .form-container2{
    text-align: center;
    width: 400px;
    height: 170px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: -0px;
    margin-left: -50px;
    position: relative;
    margin-top: -32px;
    margin-left: -78px;
    position: relative;

   
  }
  .form-container3{
    text-align: center;
    width: 400px;
    height: 500px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
    margin-top: -0px;
    margin-left: -50px;
    position: relative;
    margin-top: -32px;
    margin-left: -78px;
    

   
  }
  .submit-button {
    background-color:#1aa9ec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: px;
    margin-top: 340px;
    position: relative;
    margin-right: 20px;
    
   
  }
#q{
    margin-left: px;
    margin-top: 0px;
    position: absolute;
  }

#op{
  margin-top: 25px;

  position: absolute;
}

ul {
  list-style-type: disc; /* Garantisce che la lista sia puntata */
  padding-left: 20px; /* Aggiunge un'indentazione a sinistra per i punti */
  list-style-position: inside; /* Punti all'interno dell'elemento della lista */
}

li {
  margin-bottom: 10px; /* Spazio tra gli elementi della lista */
  padding-left: 5px; /* Riduce lo spazio tra il punto e l'elemento della lista */
}
